* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.main {
  padding: 10px;
  display: flex;
}

.right {
  width: 1100px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
